@import "/src/styles/variables";

.header,
.main {
  padding: 15px 10px;

  @media (min-width: 1200px) {
    padding: 20px;
  }
}

.header {
  background-color: $primary;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  height: calc(100% - 78px);

  @media (min-width: 1200px) {
    height: calc(100% - 88px);
  }
}

.section{
  max-width: 1200px;
  animation: fade 300ms ease;
}

.card-wrapper {
  margin: 20px 0;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  &:not(:last-child) {
    @media (min-width: 768px) {
      margin-right: 10px;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}
